:host {
     --colorWhite: #ffffff;
     --colorBlack: #000000;
     --colorYellow: #ffc600;
     --colorDim: rgba(0, 0, 0, 0.4);
     --colorRed: crimson;
}
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'helvetica neue';
     text-align: center;
     font-size: 10px;
     margin: 0;
     font-size: 2rem;
     display: flex;
     flex: 1;
     align-items: center;
}
.clock {
     width: 30rem;
     height: 30rem;
     border: 20px solid white;
     border-radius: 50%;
     margin: 50px auto;
     position: relative;
     padding: 2rem;
     box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #EFEFEF, inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}
.clock-face {
     position: relative;
     width: 100%;
     height: 100%;
     transform: translateY(-3px);
    /* account for the height of the clock hands */
}
.hand {
     width: 50%;
     height: 6px;
     background: black;
     position: absolute;
     top: 50%;
     transform-origin: 100%;
     transform: rotate(90deg);
     transition: all 0.05s;
     transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.clock .clock-face .second-hand{
     height: 1px !important;
     background: var(--colorRed) !important;
}
.clock .clock-face .hour-hand{
    height: 6px !important;
    width: 29% !important;
    left: 21% !important;
    top: 49.4% !important;
}
.clock .clock-face .meridiem-box{
    border: 2px solid;
    right: 0px;
    position: absolute;
    border-radius: 15%;
}